:host{
  color: white;
}

.height-150{
  max-height: 150px;
}

.height-160{
  max-height: 160px;
}

.margin-top-10{
  margin-top: 10px;
}

.btn-w-32{
  width: 32%;
  margin: 1px;
}

p {
  font-size: 0.9em;
  margin: 1px;
  padding: 0px;
  text-align: center;
}