:host{
  color: white;
}

.height-400{
  max-height: 400px;
}

.margin-top-20{
  margin-top: 20px;
}

.boughtTicketContainer {
  font-size: 0.9em;
  color: white;
}

.font-1-1{
  font-size: 1.1em;
  font-stretch: condensed;
}

p{
  font-size: 0.8em;
  font-stretch: extra-condensed;
  font-variant-caps: petite-caps;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #fac344;
}