<div (click)='click()' class="container">
  <h1>Cenovnik</h1>
  <button mat-flat-button color="primary" type="submit" name="editBtn" class='matButtonStyle btn-left-w-32' (click)="addBtnClick()">Kreiraj novi</button>
  <div *ngIf="pricelists" class="table-container height-150 margin-top-10">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="Index">
          <th mat-header-cell *matHeaderCellDef> Redni broj </th>
          <td mat-cell *matCellDef="let element"> {{element.Index}} </td>
      </ng-container>  
      <ng-container matColumnDef="From">
        <th mat-header-cell *matHeaderCellDef> Vazi od </th>
        <td mat-cell *matCellDef="let element"> {{element.From}} </td>
      </ng-container>  
      <ng-container matColumnDef="To">
        <th mat-header-cell *matHeaderCellDef> Vazi do </th>
        <td mat-cell *matCellDef="let element"> {{element.To}} </td>
      </ng-container> 
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.Id}" (click)="selectRow(row)"></tr>
    </table>
  </div>
  <div *ngIf="selectedRowIndex">
    <button mat-flat-button color="primary" type="submit" name="editBtn" class='matButtonStyle btn-left-w-33 margin-top-10' (click)="editBtnClick()">Izmeni</button>
    <button mat-flat-button color="primary" type="submit" name="deleteBtn" class='matButtonStyle btn-right-w-33 margin-top-10' (click)="deleteBtnClick()">Obrisi</button>
  </div>
  <div *ngIf="pricelist || newPricelist" class="margin-top-10">
    <form [formGroup]="priceForm" novalidate>     
      <div class="form-group">
        <mat-form-field class="example-left-half-width">
          <input matInput [matDatepicker]="pickerFrom" formControlName='from' placeholder="Vazi od" required>
          <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
          <mat-error *ngIf="priceForm.controls['from'].errors && priceForm.controls['from'].errors['required']">Obavezno polje</mat-error>
        </mat-form-field>
        <mat-form-field class="example-right-half-width">
          <input matInput [matDatepicker]="pickerTo" formControlName='to' placeholder="Vazi do" required>
          <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
          <mat-error *ngIf="priceForm.controls['to'].errors && priceForm.controls['to'].errors['required']">Obavezno polje</mat-error>
        </mat-form-field>
        <mat-form-field class="div-full-width">
          <input *ngIf="newPricelist" (focusout)='vremenskaIsNotNumber()' formControlName='vremenska' matInput placeholder="cena za vremensku" required>
          <input *ngIf="pricelist" formControlName='vremenska' matInput placeholder="cena za vremensku" readonly>
          <mat-error *ngIf="priceForm.controls['vremenska'].errors && priceForm.controls['vremenska'].errors['required']">Obavezno polje</mat-error>
          <mat-error *ngIf="priceForm.controls['vremenska'].errors && priceForm.controls['vremenska'].errors['notnumber']">Mora biti broj</mat-error>
        </mat-form-field>
        <mat-form-field class="div-full-width">
          <input *ngIf="newPricelist" (focusout)='dnevnaIsNotNumber()' formControlName='dnevna' matInput placeholder="cena za dnevnu" required>
          <input *ngIf="pricelist" formControlName='dnevna' matInput placeholder="cena za dnevnu" readonly>
          <mat-error *ngIf="priceForm.controls['dnevna'].errors && priceForm.controls['dnevna'].errors['required']">Obavezno polje</mat-error>
          <mat-error *ngIf="priceForm.controls['dnevna'].errors && priceForm.controls['dnevna'].errors['notnumber']">Mora biti broj</mat-error>
        </mat-form-field>
        <mat-form-field  class="div-full-width">
          <input *ngIf="newPricelist" (focusout)='mesecnaIsNotNumber()' formControlName='mesecna' matInput placeholder="cena za mesecnu" required>
          <input *ngIf="pricelist" formControlName='mesecna' matInput placeholder="cena za mesecnu" readonly>
          <mat-error *ngIf="priceForm.controls['mesecna'].errors && priceForm.controls['mesecna'].errors['required']">Obavezno polje</mat-error>
          <mat-error *ngIf="priceForm.controls['mesecna'].errors && priceForm.controls['mesecna'].errors['notnumber']">Mora biti broj</mat-error>
        </mat-form-field>
        <mat-form-field class="div-full-width">
          <input *ngIf="newPricelist" (focusout)='sestomesecnaIsNotNumber()' formControlName='sestomesecna' matInput placeholder="cena za sestomesecnu" required>
          <input *ngIf="pricelist" formControlName='sestomesecna' matInput placeholder="cena za sestomesecnu" readonly>
          <mat-error *ngIf="priceForm.controls['sestomesecna'].errors && priceForm.controls['sestomesecna'].errors['required']">Obavezno polje</mat-error>
          <mat-error *ngIf="priceForm.controls['sestomesecna'].errors && priceForm.controls['sestomesecna'].errors['notnumber']">Mora biti broj</mat-error>
        </mat-form-field>
        <mat-form-field class="div-full-width">
          <input *ngIf="newPricelist" (focusout)='godisnjaIsNotNumber()' formControlName='godisnja' matInput placeholder="cena za godisnju" required>
          <input *ngIf="pricelist" formControlName='godisnja' matInput placeholder="cena za godisnju" readonly>
          <mat-error *ngIf="priceForm.controls['godisnja'].errors && priceForm.controls['godisnja'].errors['required']">Obavezno polje</mat-error>
          <mat-error *ngIf="priceForm.controls['godisnja'].errors && priceForm.controls['godisnja'].errors['notnumber']">Mora biti broj</mat-error>
        </mat-form-field>
      </div> 
      <button *ngIf="pricelist" mat-flat-button color="primary" type="submit" class='matButtonStyle btn-left-w-32' (click)='editPricelist()'>Sacuvaj</button>
      <button *ngIf="newPricelist" mat-flat-button color="primary" type="submit" class='matButtonStyle btn-left-w-32' (click)='addPricelist()'>Sacuvaj</button>
    </form>
  </div>
  <pre class='lblMessage' [ngClass]="{'lblError': messageIsError}">{{message}}</pre> 
</div>
