.height-200{
  max-height: 200px;
}
.height-380{
  max-height: 380px;
}

.margin-top-20{
  margin-top: 20px;
}

.margin-bottom-10{
  margin-bottom: 10px;
}

.btn-w-32{
  width: 32%;
  margin: 1px;
}

p {
  font-size: 1.3em;
  margin: 5px;
  padding: 0px;
  text-align: center;
}