<div class="container">
  <h1>Prijava</h1>
  <div>
    <form [formGroup]="loginForm" novalidate (ngSubmit)="login()">     
      <div class="form-group">
        <mat-form-field class="div-full-width">
          <input (focus)='clearMessage()' formControlName='email' matInput placeholder="Email" required>
          <mat-error *ngIf="loginForm.controls['email'].errors && loginForm.controls['email'].errors['required']">Obavezno polje</mat-error>
          <mat-error *ngIf="loginForm.controls['email'].errors && loginForm.controls['email'].errors['email']">Nije validna email adresa</mat-error>
        </mat-form-field>
        <mat-form-field class="div-full-width">
          <input (focus)='clearMessage()' type="password" formControlName='password' matInput placeholder="Lozinka" matNativeControl required>
          <mat-error *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].errors['required']">Obavezno polje</mat-error>
        </mat-form-field>
      </div>
      <button mat-flat-button color="primary" class='matButtonStyle btn-left-w-32' type="submit">Prijavi se</button>
    </form>
  </div>
  <pre class='lblMessage' [ngClass]="{'lblError': messageIsError}">{{message}}</pre> 
</div>