:host {
  color: white;
}

input[type="file"] {
  display: none;
} 

.custom-file-upload {
  border-radius: 3px;
  display: inline-block;
  padding: 3px 20px;
  cursor: pointer;
  background-color:  #f7c859;;
  color: black;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
  width: 75px;
}

.div-horizontal{
  height: 110px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

.margin-top-10{
  margin-top: 10px;
}

td{
  text-align: center;
  align-content: center;
}