<div *ngIf="user" class="container" (click)='click()'>
  <h1>Profil</h1>
  <form [formGroup]="myForm" novalidate (ngSubmit)="edit()">     
    <div class="form-group">
      <mat-form-field class="div-full-width">
        <input formControlName='name' matInput placeholder="Ime" matNativeControl required>
        <mat-error *ngIf="myForm.controls['name'].errors && myForm.controls['name'].errors['required']">Obavezno polje</mat-error>
        <mat-error *ngIf="myForm.controls['name'].errors && myForm.controls['name'].errors['minlength']">Mora biti duze od 2 karaktera</mat-error>
      </mat-form-field>
      <mat-form-field class="div-full-width">
        <input formControlName='surname' matInput placeholder="Prezime" matNativeControl required>
        <mat-error *ngIf="myForm.controls['surname'].errors && myForm.controls['surname'].errors['required']">Obavezno polje</mat-error>
        <mat-error *ngIf="myForm.controls['surname'].errors && myForm.controls['surname'].errors['minlength']">Mora biti duze od 2 karaktera</mat-error>
      </mat-form-field>
      <mat-form-field class="div-full-width">
        <input formControlName='address' matInput placeholder="Adresa" matNativeControl required>
        <mat-error *ngIf="myForm.controls['address'].errors && myForm.controls['address'].errors['required']">Obavezno polje</mat-error>
        <mat-error *ngIf="myForm.controls['address'].errors && myForm.controls['address'].errors['minlength']">Mora biti duza od 2 karaktera</mat-error>
      </mat-form-field>
      <mat-form-field class="div-full-width">
        <input matInput [matDatepicker]="picker" formControlName='birthday' placeholder="Datum rodjenja" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="myForm.controls['birthday'].errors && myForm.controls['birthday'].errors['required']">Obavezno polje</mat-error>
      </mat-form-field>
    </div>
    <button mat-flat-button color="primary" class='matButtonStyle btn-left-w-32' type="submit">Izmeni</button>
  </form>
  <pre class='lblMessage' [ngClass]="{'lblError': messageIsError}">{{message}}</pre> 
</div>
<div *ngIf="user" class="container" (click)='click()'>
  <form [formGroup]="passwordForm" novalidate (ngSubmit)="changePassword()">     
    <div class="form-group">
      <mat-form-field class="div-full-width">
        <input type="password" formControlName='old_password' matInput placeholder="Stara lozinka" matNativeControl required>
        <mat-error *ngIf="passwordForm.controls['old_password'].errors && passwordForm.controls['old_password'].errors['required']">Obavezno polje</mat-error>
      </mat-form-field>
      <mat-form-field class="div-full-width">
        <input type="password" formControlName='new_password' matInput placeholder="Lozinka" matNativeControl required>
        <mat-error *ngIf="passwordForm.controls['new_password'].errors && passwordForm.controls['new_password'].errors['required']">Obavezno polje</mat-error>
        <mat-error *ngIf="passwordForm.controls['new_password'].errors && passwordForm.controls['new_password'].errors['minlength']">Mora biti duza od 6 karaktera</mat-error>
      </mat-form-field>
      <mat-form-field class="div-full-width">
          <input (focusout)='isSameAsPassword()' type="password" formControlName='repeat_password' matInput placeholder="Ponovite lozinku" matNativeControl required>
          <mat-error *ngIf="passwordForm.controls['repeat_password'].errors && passwordForm.controls['repeat_password'].errors['required']">Obavezno polje</mat-error>
          <mat-error *ngIf="passwordForm.controls['repeat_password'].errors && passwordForm.controls['repeat_password'].errors['notsame']">Lozinke nisu iste</mat-error>
        </mat-form-field>
    </div>
    <button mat-flat-button color="primary" class='matButtonStyle btn-left-w-32' type="submit">Izmeni</button>
  </form>
  <pre class='lblMessage' [ngClass]="{'lblError': message_passwordIsError}">{{message_password}}</pre> 
</div>
<div *ngIf="user && (user.Files!=null)" class="container" (click)='click()'>
  <div class="div-horizontal margin-top-10">
    <table>
      <tr>
        <td *ngFor="let imgsrc of getUserPhotos()"><a href="{{imgsrc}}" target="_blank"><img src="{{imgsrc}}" height="100px" width="auto"></a></td>
      </tr>
    </table>
  </div>
</div>
<div *ngIf="user && _auth.getRole() == 'AppUser'" class="container" (click)='click()'>
  <div class="margin-top-10">
    <form [formGroup]="fileForm">
      <label class="custom-file-upload">
        <input formControlName='file' type="file" (change)="onFileChanged($event)" accept="image/png,image/jpeg,image/jpg,image/bmp"/> Ucitaj
      </label>
      <!-- <input (change)="onFileChanged($event)" type="file" accept="image/png,image/jpeg,image/jpg,image/bmp"> -->
      <img [src]="imgURL" class="margin-top-10" width="100%" height="auto" *ngIf="imgURL">
      <button mat-flat-button color="primary" class='matButtonStyle btn-left-w-32' (click)='dodajSliku()'>Sacuvaj</button>
    </form>
  </div>
  <pre class='lblMessage' [ngClass]="{'lblError': message_fileIsError}">{{message_file}}</pre>
</div>
