/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');
* {
  font-family: 'Cairo', sans-serif;
}

body {
    overflow: hidden;
    margin: 0;
}

.container{
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

h1 {
  color: white;
  text-align: center; 
  padding: 0px;
  margin: 20px 0px 0px 0px;
}

.tableFilter {
  width: 100%;
  color: white;
}

.table-container{
  width: 100%;
  overflow-y: auto;
}

table {
  width: 100%;
}

.mat-cell {
  font-size: 0.7em;
  padding-left: 10px !important;
}

.mat-header-cell {
  font-size: 0.9em;
  padding-left: 10px !important;
 }

.highlight{
  background: #fac344;
  font-weight: bold;
}

.highlight td {
  color: black;
}

.mat-row:hover {
  background-color:#fac344;
  cursor: pointer;
}

.mat-row:hover td {
  color: black;
  font-weight: bold;
}

.mat-expansion-panel-header{
  font-size: 0.7em;
}

.mat-panel-description{
  text-align: left !important;
}

.timetableJedanSat {
  font-size: 1.1em;
}

.timetableMinut {
  margin-left: 10px;
  font-size: 0.9em;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
  background-color: #000;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
	background-color: #000;
}

::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #f7c859;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

.matButtonStyle {
  font-size: 1.1em;
  font-weight: bold;
}

.mat-expansion-panel {
  border-radius: 0 !important;
}

.disabled-row {
  background: #3a0f0f;
}

.mat-row.disabled-row:hover {
  background-color:#791c1c;
  cursor: not-allowed;
}

.mat-row.disabled-row:hover td {
  color: white;
}

.lblMessage {
  color: rgb(0, 175, 0);
  font-size: 1.2em;
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: bold;
  font-stretch: semi-condensed;
  font-variant-caps: all-petite-caps;
}

.lblError {
  color: rgb(240, 26, 26);
}

.btn-left-w-32 {
  width: 32%;
}

.btn-left-w-33{
  width: 33%;
  margin-left: 10%;
  margin-right: 7%;
}

.btn-right-w-33{
  width: 33%;
  margin-right: 10%;
  margin-left: 7%;
  float: right;
}

.div-full-width{
  width: 100%;
  margin-top: 5px;
}

.div-left-half-width {
  width: 48%;
  margin-right: 2%;
  margin-top: 5px;
}
  
.div-right-half-width {
  width: 48%;
  margin-left: 2%;
  float: right;
  margin-top: 5px;
}

.div-horizontal{
  height: 110px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}